@import "macchiato.css";

* {
	font-family: JetBrainsMono Nerd Font;
    font-weight: 800;
	font-size: 11px;
	min-height: 0px;
}

#waybar {
	background: rgba(36, 39, 58, 0.98);
	/* 	backdrop-filter: blur(5px); */
	color: @text;
}

tooltip {
	background: rgba(147, 154, 183, 0.2);
	border: 1px solid rgb(183, 189, 248);
	color: @text;
}

#workspaces {
	margin: 8px;
	border-radius: 5px;
}

#workspaces button {
	/* background-color: rgba(54, 58, 79, 0.5); */
	padding: 0px 5px 0px 8px;
}

#workspaces button:hover {
	background-color: rgba(183, 189, 248, 0.8);
}

#workspaces button.active {
	background-color: rgba(110, 115, 141, 0.8);
}

#taskbar {
	margin: 8px;
	border-radius: 5px;
}

#taskbar button {
	padding: 0px 7px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cava,
#cpu,
#custom-cpuinfo,
#custom-brightness,
#custom-gpuinfo,
#custom-eyes,
#custom-lock,
#custom-music,
#custom-notifications,
#custom-pacman,
#custom-power,
#custom-updates,
#custom-weather,
#disk,
#gamemode,
#idle_inhibitor,
#language,
#memory,
#network,
#pulseaudio,
#privacy,
#tray,
#user,
#systemd-failed-units {
	background-color: @surface0;
	padding: 10px 10px;
	margin: 8px 0;
}

#user {
	color: @flamingo;
	border-radius: 5px;
}

#language {
	color: @sapphire;
	border-radius: 0px;
}

#custom-weather {
	color: @yellow;
	border-radius: 0px 5px 5px 0px;
}

#cpu {
	color: @mauve;
	border-radius: 5px 0px 0px 5px;
}

#custom-cpuinfo {
	color: @mauve;
	border-radius: 0px;
}

#custom-gpuinfo {
	color: @pink;
	border-radius: 0px;
}

#clock {
	color: @maroon;
	border-radius: 5px;
	margin-left: 8px;
	margin-right: 8px;
}

#bluetooth,
#custom-brightness {
	color: @teal;
	border-radius: 0px;
}

#memory {
	color: @red;
}

#disk {
	color: @red;
	margin-left: -8px;
	border-radius: 0px 5px 5px 0px;
}

#network {
	color: @teal;
	border-radius: 5px 0px 0px 5px;
}

#pulseaudio,
#pulseaudio.microphone {
	color: @sky;
	border-radius: 0px;
}

#custom-eyes,
#idle_inhibitor,
#privacy {
	color: @sapphire;
	border-radius: 0px;
}

#cava {
	color: @peach;
	border-radius: 0px;
}

#custom-music {
	color: @peach;
	border-radius: 5px 0px 0px 5px;
}

#custom-lock {
	border-radius: 0px;
	color: @blue;
}

#custom-power {
	color: @lavender;
	margin-right: 8px;
	border-radius: 0px 5px 5px 0px;
}

#systemd-failed-units {
	color: @peach;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 5px;
}

#systemd-failed-units.ok {
	color: @green;
}

#systemd-failed-units.degraded {
	color: @red;
}

#gamemode,
#custom-updates {
	color: @green;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 5px;
}

#tray {
	border-radius: 5px 0px 0px 5px;
}

#custom-notifications {
	color: @green;
	margin-right: 8px;
	border-radius: 0px 5px 5px 0px;
}
